@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-display: "Bricolage Grotesque", sans-serif;
}

@layer base {
  body {
    /* Sets the default body font */
    @apply font-sans antialiased bg-slate-50 text-slate-900;
  }
  
  /* Forces all headings to use the new quirky font */
  h1, h2, h3, h4, h5, h6, .font-display {
    @apply font-display tracking-tight;
  }
}